li(ui-sref-active="active")
	a(ui-sref="app.dashboard") Home
li(ui-sref-active="active")
	a(ui-sref="app.accordions-tabs") Accordion / Tabs
li(ui-sref-active="active")
	a(ui-sref="app.device") Device
li(ui-sref-active="active")
	a(ui-sref="app.flex-boxes") Flex Boxes
li(ui-sref-active="active")
	a(ui-sref="app.grid-items") Grid Items
li(ui-sref-active="active")
	a(ui-sref="app.maps") Maps
li(ui-sref-active="active")
	a(ui-sref="app.navigation") Navigation
li(ui-sref-active="active")
	a(ui-sref="app.search") Search
li(ui-sref-active="active")
	a(ui-sref="app.tables") Tables
li(ui-sref-active="active")
	a(ui-sref="app.forms") Forms