// This is where you set all your unique variables that are commonly used in your
// site/app builds.

/* SITE FONTS */

$font-family-sans:        Helvetica, Verdana, Arial, sans-serif;
$font-family-serif:       Georgia, Times, serif;


$font-default:            $font-family-sans;


/* SITE COLORS */

$black:                   #000;
$white:                   #fff;

$gb-green:                #89C637;
$gb-ltgreen:              #b8d434;
