// START OF SN-000

ul.example-list {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 25px;
  li {
    width: 25%;
    display: inline-block;
    padding: 15px;
    vertical-align: top;
  }
}


// END OF SN-000
