//- includes/foot.jade
#footer
  if companyName != ''
    p Copyright &copy; #{companyName}
  else
    p Copyright &copy; [missing-company-name]
  p Website Design and Development by GRAYBOX in Portland, OR
 
