doctype html
html(lang="en")

    head
        include ../../common/head.jade

    body

        include markup.jade

        include ../../common/footer-jquery1.jade

        script
            include _js.js