include mixins
section
	// Tabs 1
	h3.snippet-title #001 - Tabs 1
	iframe(src='/app/snippets/accordions-tabs/tabs-1/index.html' width='100%' height='250' frameborder=0 scrolling='no')
	+snippet('accordions-tabs', 'Accordions 1', 'tabs-1')
	// Tabs 2
	hr
	h3.snippet-title #002 - Tabs 2
	iframe(src='/app/snippets/accordions-tabs/tabs-2/index.html' width='100%' height='250' frameborder=0 scrolling='no')
	+snippet('accordions-tabs', 'Accordions 2', 'tabs-2')