// top navbar
header.topnavbar-wrapper(ng-include="'app/views/partials/top-navbar.html'")


// Main section


// Page content
.content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")

// Page footer
// footer.footer-2(role='contentinfo' ng-include="'app/views/partials/footer.html'")