div.snippet-block
	h2 <span>Example Snippet</span>

	div.snippet-preview
		//include snippets/000-example00/jade-html/000.jade

	div.snippet-toggle
		a.snippet-link-toggle() Hide Code
	div.snippet-code
		table.snippets-table
			tbody
				tr
					td.snippet
						.copy-source-container
							a.copy-source(href="javascript:void(0)") Copy Scss
						//ng-prism.language-scss
						//	include ../../app/snippets/000-example00/scss/000.scss

					td.snippet
						.copy-source-container
							a.copy-source(href="javascript:void(0)") Copy HTML
						pre.language-markup
							//code.language-markup( prism )
							//	include ../../app/snippets/000-example00/jade-html/000.html

					td.snippet
						.copy-source-container
							a.copy-source(href="javascript:void(0)") Copy Javascript
						pre.language-markup
							//code.language-markup( prism )
							//	include /../../app/snippets/000-example00/js/000.js
