include mixins
section
    h2 Device

    h3.snippet-title #00x - DEVICE SNIPPET TITLE
    iframe(src='/app/snippets/device/device-1/index.html' width='100%' height='250' frameborder=0 scrolling='no')
    +snippet('device', 'Device 1', 'device-1')

    //hr