include mixins
section
	h2 Flex Boxes

	h3.snippet-title #00x - FLEX BOX SNIPPET TITLE
	iframe(src='/app/snippets/flex-boxes/flex-1/index.html' width='100%' height='250' frameborder=0 scrolling='no')
	+snippet('flex-boxes', 'Flex Box 1', 'flex-1')

	//hr