include mixins
section
	h2 Forms

	h3.snippet-title #00x - FORM SNIPPET TITLE
	iframe(src='/app/snippets/forms/form-1/index.html' width='100%' height='250' frameborder=0 scrolling='no')
	+snippet('forms', 'Form 1', 'form-1')

	//hr