include mixins
section
	h2 Grid Items

	h3.snippet-title #00x - GRID SNIPPET TITLE
	iframe(src='/app/snippets/grid-items/grid-1/index.html' width='100%' height='250' frameborder=0 scrolling='no')
	+snippet('grid-items', 'Grid 1', 'grid-1')

	//hr