include mixins
section
	h2 Navigation

	h3.snippet-title #00x - NAVIGATION SNIPPET TITLE
	iframe(src='/app/snippets/navigation/navigation-1/index.html' width='100%' height='250' frameborder=0 scrolling='no')
	+snippet('navigation', 'Navigation 1', 'navigation-1')

	//hr