//div.alert There are {{posts.length}} snippets
div

		//h3 {{post.title}}
		//div {{post.rendered_output}}
		//div {{post.jade_source}}
		//div {{post.html_source}}
		//	input(type="text" ng-model="input" id="input1")
		//	//button.clip_button(ui-zeroclip zeroclip-copied="complete($event)" zeroclip-on-error="clipError($event)" zeroclip-model="input")
		//	button.clip_button#my-button_textarea(data-clipboard-target="clipboard_textarea") Copy to Clipboard
		//	button.clip_button#my-button_pre(data-clipboard-target="clipboard_pre") Copy to Clipboard
	div.snippet-block(ng-repeat='post in posts')
		h2 <span>Example Snippet</span>
		
		div.snippet-preview
			include ../snippets/000-example00/jade-html/000.jade
		
		div.snippet-toggle
			a.snippet-link-toggle() Hide Code
		div.snippet-code
			table.snippets-table
				tbody
					tr
						td.snippet
							.copy-source-container
								a.copy-source(href="javascript:void(0)") Copy Scss
							ng-prism.language-scss
								include ../snippets/000-example00/scss/000.scss

						td.snippet
							.copy-source-container
								a.copy-source(href="javascript:void(0)") Copy HTML
							pre.language-markup
								code.language-markup( prism )
									include ../snippets/000-example00/jade-html/000.html
						
						td.snippet
							.copy-source-container
									a.copy-source(href="javascript:void(0)") Copy Javascript
								pre.language-markup
									code.language-markup( prism )
										include ../snippets/000-example00/js/000.js
//a(href='/readPost/{{post.id}}') More
//	|  -
//	a(href='/editPost/{{post.id}}') Edit
//	|  -
//	a(href='/deletePost/{{post.id}}') Delete
