<header role="banner" class="navigation">
   <button type="button" style="float:left;" class="js-menu-trigger sliding-panel-button">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="12.6px" height="9px" viewbox="0 0 12.6 9">
         <path d="M0,0.9C0,0.4,0.4,0,0.9,0h10.8c0.5,0,0.9,0.4,0.9,0.9c0,0.5-0.4,0.9-0.9,0.9H0.9C0.4,1.8,0,1.4,0,0.9z M12.6,4.5c0,0.5-0.4,0.9-0.9,0.9H0.9C0.4,5.4,0,5,0,4.5C0,4,0.4,3.6,0.9,3.6h10.8C12.2,3.6,12.6,4,12.6,4.5z M12.6,8.1c0,0.5-0.4,0.9-0.9,0.9H0.9C0.4,9,0,8.6,0,8.1c0-0.5,0.4-0.9,0.9-0.9h10.8C12.2,7.2,12.6,7.6,12.6,8.1z"></path>
      </svg>
   </button>
   <nav class="js-menu sliding-panel-content">
      <ul ng-include="'app/views/navigation/navigation-items.html'"></ul>
   </nav>
   <div class="js-menu-screen sliding-panel-fade-screen"></div>
   <div ng-controller="SortableController" class="navigation-wrapper">
      <a ui-sref="app.dashboard" class="logo">
         <img src="app/img/logo.png" alt="Logo Image" />
      </a>
      <h3>Graybox Snippet Library</h3><a id="js-mobile-menu" href="javascript:void(0)" class="navigation-menu-button">MENU</a>
      <!--.navigation-tools//.search-bar
	form(role='search')
		input(type='search', ng-model="search" placeholder="Search Snippets" )
		button(type='submit')
			img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png', alt='Search Icon')-->
   </div>
</header>
<div class="page-header"><a ng-click="showHelp = !showHelp" class="howto-link-toggle">?</a>
   <div ng-show="showHelp" class="page-header-content">
      <h3>How to Use:</h3>
      <p>Lorem ipsum dolor sit amet, erat nostrud probatus duo at, iisque constituam ut pro, eam purto nostro lobortis ex. Ne minim oblique nostrum sed. Epicuri interpretaris concludaturque id vix, vix iisque intellegat no, nostrum explicari at usu. Vidit
         luptatum dissentias an his, et nam recteque dissentiunt, nec ex dico gloriatur.</p>
   </div>
</div>