meta(charset='UTF-8')
title= Document
link(rel='stylesheet' href='/app/css/app.css')
script(src='/vendor/modernizr/modernizr.custom.js' async='')
link(type='text/css' rel='stylesheet' href='/vendor/fontawesome/css/font-awesome.min.css')