ul.example-list
  li Option #1
  li Lorem ipsum dolor sit amet, erat nostrud probatus duo at, iisque constituam ut pro, eam purto nostro lobortis ex. Ne minim oblique nostrum sed.
  li Option #3
  li Last option 

script.
  console.log('Snippet 000 ready for action');
  
style.
  ul.example-list {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 25px; }
    ul.example-list li {
      width: 25%;
      display: inline-block;
      padding: 15px;
      vertical-align: top; }
