.accordion-tabs {
    line-height: 1.5;
    margin-bottom: 1.5em;
    padding: 0;
}
.accordion-tabs::after {
    clear: both;
    content: "";
    display: table;
}
@media screen and (max-width: 600px) {
    .accordion-tabs {
        border: 1px solid #ddd;
        border-radius: 3px;
    }
}
.accordion-tabs .tab-header-and-content {
    list-style: none;
}
@media screen and (min-width: 600px) {
    .accordion-tabs .tab-header-and-content {
        display: inline;
    }
}
.accordion-tabs .tab-header-and-content:first-child .tab-link {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
@media screen and (max-width: 600px) {
    .accordion-tabs .tab-header-and-content:first-child .tab-link {
        border-top: 0;
    }
}
@media screen and (max-width: 600px) {
    .accordion-tabs .tab-header-and-content:last-child .tab-link {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}
.accordion-tabs .tab-link {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333;
    display: block;
    font-weight: bold;
    padding: 0.75em 0.809em;
    text-decoration: none;
}
@media screen and (min-width: 600px) {
    .accordion-tabs .tab-link {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-top: 0;
        display: inline-block;
    }
}
.accordion-tabs .tab-link:hover {
    color: #1565c0;
}
.accordion-tabs .tab-link:focus {
    outline: none;
}
.accordion-tabs .tab-link.is-active {
    background-color: #f7f7f7;
}
@media screen and (min-width: 600px) {
    .accordion-tabs .tab-link.is-active {
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        border-bottom-color: #f7f7f7;
        margin-bottom: -1px;
    }
}
.accordion-tabs .tab-content {
    background: #f7f7f7;
    display: none;
    padding: 1.5em 1.618em;
    width: 100%;
}
@media screen and (min-width: 600px) {
    .accordion-tabs .tab-content {
        border: 1px solid #ddd;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        float: left;
    }
}