header.navigation( role="banner" )
	div.navigation-wrapper
		a.logo
			span Logo here
		a.navigation-menu-button#js-mobile-menu MENU
		nav( role="navigation" )
			ul#js-navigation-menu.navigation-menu.show
				li.nav-link
					a Process Me Please
				li.nav-link
					a About Us
				li.nav-link
					a Contact
		div.navigation-tool
			div.search-bar
				form( role="search" )
					input( type="search", placeholder='Enter Search')
					button( type="submit" )
