<div class="page-content">
   <span class="style-header">Style Guide</span>
   <h1>Header One</h1>
   <h2>Header Two</h2>
   <h3>Header Three</h3>
   <h4>Header Four</h4>
   <h5>Header Five</h5>
   <h6>Header Six</h6>
   <p>Lorem ipsum dolor sit amet, erat nostrud probatus duo at, iisque constituam ut pro, eam purto nostro lobortis ex. Ne minim oblique nostrum sed. Epicuri interpretaris concludaturque id vix, vix iisque intellegat no, nostrum explicari at usu. Vidit luptatum
      dissentias an his, et nam recteque dissentiunt, nec ex dico gloriatur.</p>
   <ul>
      <li>Unordered list item example</li>
      <li>Unordered list item example</li>
      <li>Unordered list item example</li>
      <li>Unordered list item example</li>
   </ul>
   <ol>
      <li>Numbered list item example</li>
      <li>Numbered list item example</li>
      <li>Numbered list item example</li>
      <li>Numbered list item example</li>
   </ol>
   <blockquote>Lorem ipsum dolor sit amet, erat nostrud probatus duo at, iisque constituam ut pro, eam purto nostro lobortis ex. Ne minim oblique nostrum sed. Epicuri interpretaris concludaturque id vix, vix iisque intellegat no, nostrum explicari at usu. Vidit luptatum
      dissentias an his, et nam recteque dissentiunt, nec ex dico gloriatur.</blockquote>
</div>