<section>
   <h2>Forms</h2>
   <h3 class="snippet-title">#00x - FORM SNIPPET TITLE</h3>
   <iframe src="/app/snippets/forms/form-1/index.html" width="100%" height="250" frameborder="0" scrolling="no"></iframe>
   <div class="snippet-container">
      <!-- Title of Snippet-->
      <!-- Snippet Markup (HTML)-->
      <!-- .snippet-markup(ng-include="'app/snippets/#{category}/#{url}/markup.html'")-->
   </div>
   <!-- Snippet Copy Table / Raw Resources-->
   <div class="refill-snippet">
      <div class="refill-control"><a ng-click="showSnippet = !showSnippet" class="snippet-link-toggle">Toggle Code</a>
         <table ng-show="showSnippet" class="snippets-table">
            <tbody>
               <tr>
                  <!-- Markup Column HTML / Jade-->
                  <td class="snippet">
                     <div class="copy-source-container"><a ngclipboard="" data-clipboard-target="#jade" class="copy-source">Copy Jade</a>
                     </div><pre class="language-markup"><code id="jade" prism="prism" ng-include="'master/snippets/forms/form-1/_jade.html'" class="language-jade"></code></pre>
                  </td>
                  <!-- Styles Column SCSS,SASS/LESS/CSS-->
                  <td class="snippet">
                     <div class="copy-source-container"><a ngclipboard="" data-clipboard-target="#scss" class="copy-source">Copy Scss</a>
                     </div><pre class="language-markup"><code id="scss" prism="prism" ng-include="'master/snippets/forms/form-1/_scss.scss'" class="language-sass"></code></pre>
                  </td>
                  <!-- Scripts Column Javascript, jQuery, CoffeeScript-->
                  <td class="snippet">
                     <div class="copy-source-container"><a ngclipboard="" data-clipboard-target="#js-1" class="copy-source">Copy JavaScript</a>
                     </div><pre class="language-markup"><code id="js-1" prism="prism" ng-include="'master/snippets/forms/form-1/_js.js'" class="language-javascript"></code></pre>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <!--hr-->
</section>