extends layout
block body
	section
		aside
			h3 Snippet Search
			ul
				li
					a(href='/') Home
				li
					a(href='/addPost') Add a new post
				li Components
					ul
						li
							a Button
	div(ng-view)