<li ui-sref-active="active"><a ui-sref="app.dashboard">Home</a>
</li>
<li ui-sref-active="active"><a ui-sref="app.accordions-tabs">Accordion / Tabs</a>
</li>
<li ui-sref-active="active"><a ui-sref="app.device">Device</a>
</li>
<li ui-sref-active="active"><a ui-sref="app.flex-boxes">Flex Boxes</a>
</li>
<li ui-sref-active="active"><a ui-sref="app.grid-items">Grid Items</a>
</li>
<li ui-sref-active="active"><a ui-sref="app.maps">Maps</a>
</li>
<li ui-sref-active="active"><a ui-sref="app.navigation">Navigation</a>
</li>
<li ui-sref-active="active"><a ui-sref="app.search">Search</a>
</li>
<li ui-sref-active="active"><a ui-sref="app.tables">Tables</a>
</li>
<li ui-sref-active="active"><a ui-sref="app.forms">Forms</a>
</li>